mods/carpentersblocks/CarpentersBlocksCachedResources.zip
config/CustomStuff/CS2InformationFile.txt
config/UniqueNames.txt
config/CustomStuff/cslog.txt
config/YAMPST.nbt
config/INpureProjects/logs
/config/*.bak
/config/CraftGuide/CraftGuide.log
